In [3]:
import pandas as pd
df = pd.read_csv("ObesityDataSet.csv")
df.head()

   Gender   Age  Height  ...        CALC                 MTRANS           NObeyesdad
0  Female  21.0    1.62  ...          no  Public_Transportation        Normal_Weight
1  Female  21.0    1.52  ...   Sometimes  Public_Transportation        Normal_Weight
2    Male  23.0    1.80  ...  Frequently  Public_Transportation        Normal_Weight
3    Male  27.0    1.80  ...  Frequently                Walking   Overweight_Level_I
4    Male  22.0    1.78  ...   Sometimes  Public_Transportation  Overweight_Level_II

[5 rows x 17 columns]

In [4]:
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
# Create a copy of the dataframe to keep the original safe
df_encoded = df.copy()

In [6]:
# Initialize LabelEncoder
le = LabelEncoder()

In [7]:
categorical_cols = ['Gender', 'family_history_with_overweight', 'FAVC', 
                    'CAEC', 'SMOKE', 'SCC', 'CALC', 'MTRANS', 'NObeyesdad']

# Apply Label Encoder to each categorical column
for col in categorical_cols:
    df_encoded[col] = le.fit_transform(df_encoded[col])

# Check the head again to see the numbers
df_encoded.head()

   Gender   Age  Height  Weight  ...  TUE  CALC  MTRANS  NObeyesdad
0       0  21.0    1.62    64.0  ...  1.0     3       3           1
1       0  21.0    1.52    56.0  ...  0.0     2       3           1
2       1  23.0    1.80    77.0  ...  1.0     1       3           1
3       1  27.0    1.80    87.0  ...  0.0     1       4           5
4       1  22.0    1.78    89.8  ...  0.0     2       3           6

[5 rows x 17 columns]